---
import ContentPage from './ContentPage.astro';
---

<ContentPage title="Как получать доходы с Apple AppStore">
  <p>Apple отправляют инвойсы и их можно использовать для валютного контроля в банке. Достаточно приложить скриншот выписки.</p>

  <h2>Контракт с Apple</h2>

  <p>Контракт не нужен, если суммарный доход в инвойсе меньше <strong>$10 000</strong>.</p>

  <p>Если так выходит, что доход выше, то необходимо оформить валютный договор с Apple и зарегистрировать его в банке для ИП.</p>

  <p>Чтобы получить контракт от Apple, необходимо написать в поддержку Apple, и они в течение пары недель пришлют документ.</p>

  <div class="callout callout-info">
    <p>Warning! Автор портала пока не нашел людей, кто через такое проходил и может подтвердить личным опытом.</p>
  </div>
</ContentPage>
