---
import ContentPage from './ContentPage.astro';
import Callout from './Callout.astro';
import ImagePreview from './ImagePreview.astro';
import PdfModal from './PdfModal.astro';

const agreementImage = '/images/upwork/Upwork-onlinebank-agreement.jpg';
---

<ContentPage
  title="Как легализовать доход от Upwork"
  description="Как ИП-шнику принимать платежи с Upwork, какие документы сохранить и что показать банку."
>

  <blockquote>
    Данная инструкция актуальна для получения денег от любого контрактора, с которым у вас
    договор с нефиксированной суммой.
    <br />
    Статья подготовлена со слов разработчика, часто получающего платежи от Upwork. Автор портала целиком доверяет ему.
    Если вы нашли неточности, пожалуйста, сообщите об этом.
  </blockquote>

  <p>
    Вся сложность работы с Upwork заключается в получении денег через валютный контроль банка.
    В остальном процесс ведения налоговой отчетности не отличается от ИП на валютном контракте.
    Статья содержит инструкцию на примере Onlinebank.kz (Halyk bank для юрлиц).
  </p>

  <h2>Короткий порядок действий</h2>
  <ol>
    <li>Указать в Upwork реквизиты счета ИП, а не личной карты.</li>
    <li>Создать договор в Onlinebank</li>
    <li>Когда поступает входящий трансфер:
      <ul>
        <li>Поменять сумму в контракте на ту, что фактически поступила</li>
        <li>При смене суммы в контракте указываешь инвойс, созданный Upwork-ом на сумму трансфера</li>
        <li>в форме Валютного Контроля указать измененный контракт</li>
      </ul>
    </li>
  </ol>

  <h2>Создание договора в Onlinebank</h2>
  <p>
    При создании валютного договора необходимо указать следующие поля:
  </p>
  <ul>
    <li>Наименование инопартнера: <b>Upwork Global LLC</b></li>
    <li>Страна: <b>United States</b></li>
    <li>Отметить, что в контракте присутствует третье лицо</li>
    <li>Третье лицо: <b>Отправитель денег</b></li>
    <li>Наименование третьего лица: <b>Payment Escrow Inc.</b></li>
    <li>Страна третьего лица: <b>United States</b></li>
    <li>Прикрепить в поле внизу <a target="_blank" href="/files/upwork/Upwork-user-agreement-2026.pdf">договор Upwork</a></li>
    <li>Прикрепить инвойс (подробнее ниже)</li>
  </ul>
  <PdfModal
    src="/files/upwork/Upwork-user-agreement-2026.pdf"
    title="Договор Upwork"
    caption="Upwork User Agreement, 2026"
  />
  <ImagePreview
    src={agreementImage}
    alt="Пример заполненного договора в Onlinebank"
    caption="Пример заполненного договора в Onlinebank"
    width={1184}
    height={1280}
  />

  <h2>Изменение данных контракта</h2>
  <p>
    Когда поступает входящий трансфер, необходимо изменить сумму договора
    с Upwork на сумму этого перевода, а иначе валютный контроль не пропустит этот перевод.
    По правилам необходимо, чтобы сумма договора и сумма платежа совпадали, если договор не предусматривает
    долгосрочное сотрудничество и не содержит сумму платежей за год.
  </p>
  <p>
    Для обоснования изменения суммы контракта необходим инвойс от Upwork и его перевод. Пример инвойса
    можно найти по ссылке <a target="_blank" href="/files/upwork/Confirmation_of_Services_Form_RU-EN.pdf">Confirmation of Services Form (RU-EN)</a>.
    Порядок действий:
  </p>
  <PdfModal
    src="/files/upwork/Confirmation_of_Services_Form_RU-EN.pdf"
    title="Confirmation of Services Form (RU-EN)"
    caption="Пример инвойса и перевода для валютного контроля"
  />
  <ol>
    <li>Скачать инвойс от Upwork или воспользоваться примером (заменив номер регистрации на ваш)</li>
    <li>Указать сумму перевода/контракта</li>
    <li>Распечатать инвойс</li>
    <li>Возле строки "Касательно: Договора...." написать ручкой <i><b>"Без номера договора от 01.01.2026"</b></i> (вместо 01.01.2026 - дата создания договора в Onlinebank)</li>
    <li>Возле строки "Re: Upwork...." написать ручкой <i><b>"W/N dated 01.01.2026"</b></i> (вместо 01.01.2026 - дата создания договора в Onlinebank)</li>
  </ol>
</ContentPage>
